<div class="row animated zoomIn">
    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Médico: {{medico.nombre}}</h3>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarMedico( f )">
                        <div class="form-group">
                            <label>Nombre médico:</label>
                            <input [(ngModel)]="medico.nombre" name="nombre" type="text" class="form-control" placeholder="Ingrese el nombre del médico" required>
                        </div>
                        <div class="form-group">
                            <label> Hospital: </label>
                            <select (change)="cambioHospital( $event.target.value )" [(ngModel)]="medico.hospital" name="id_hospital" class="form-control" required>
                                <option value=""> Seleccione Hospital </option>
                                <option *ngFor="let hospital of hospitales; let i = index" [value]="hospital._id"> 
                                    {{i + 1 }} - {{ hospital.nombre }} 
                                </option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                            <i class=" fa fa-save "></i>
                            Guardar
                        </button>
                        <a routerLink="/medicos" class="btn btn-inverse waves-effect waves-light">
                            <i class=" fa fa-times-circle "></i> Cancel
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <!-- <div class="col-md-3" *ngIf="ruta !== 'nuevo'">
        <div class="card" style="width: 18rem;">
            <img [src]="hospital.img | imagen: 'hospital'" class="card-img-top">
            <div class="card-body" *ngIf="hospital.nombre">
                <h5 class="card-title">{{hospital.nombre}}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> Usuario Creador</li>
                <li class="list-group-item">Nombre: {{medico.usuario.nombre}}</li>
                <li class="list-group-item">Correo: {{medico.usuario.email}}</li>
            </ul>

        </div>
    </div> -->

    <div class="col-md-3">
        <div class="card card-body text-center">
            <h4 class="box-title m-b-0">Imagen Hospital:</h4>
            <br>
            <img [src]="hospital.img | imagen: 'hospital'" alt="" class="rounded img-fluid mx-auto d-block">
        </div>
    </div>
    <div class="col-md-3" *ngIf="medico._id">
        <div class="card card-body">
            <h4 class="box-title m-b-0">Imagen Médico:</h4>
            <img (click)="cambiarFoto()" [src]="medico.img | imagen: 'medico'" alt="" class="rounded img-fluid mx-auto d-block pointer">
        </div>
    </div>
</div>